<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<title>News Preview</title>
	<meta name="description" content="News">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="img/favicon.png">
	<meta property="og:image" content="img/@1x/preview.jpg">
	<link rel="stylesheet" href="css/styles.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>


<object type="image/svg+xml" data="solid.svg" >
</object>
<svg xmlns="http://www.w3.org/2000/svg" class="svg-settings">
	<defs>
        <linearGradient id="linear">
            <stop offset="0%" class="linear-stop1" />
            <stop offset="100%" class="linear-stop2" />
        </linearGradient>
      </defs>
</svg>
	<div id="app" class="wappper">
		<div class="header">
			<div class="header-nav">
				<div class="menu-mobile">
					<svg class="icon-svg-nav">
			          	<use xlink:href="solid.svg#bars"></use>
			        </svg>
				</div>
				<nav class="menu-wrapper">
					<li class="menu-item active"><a href="#" class="menu-link">Home</a></li>
					<li class="menu-item"><a href="#" class="menu-link">Marketplace</a></li>
					<li class="menu-item"><a href="#" class="menu-link">Booster Packs</a></li>
					<li class="menu-item"><div class="bordered"><a href="#" class="menu-link">Play</a></div></li>
				</nav>
			</div>
			<div class="header-user" v-if="userData.isOnLine">
				<div class="dots">
					<ul class="dots-list">
						<li class="dots-item" v-show="userData.chalice">
							<span class="i i-chalice"></span>
						</li>
						<li class="dots-item" v-show="userData.notification">
							<span class="i i-notification"></span>
						</li>
					</ul>
				</div>
				<div class="money-bordered">
					<div class="money-bordered_bg">
						<span><i class="icon-cube"></i>{{userData.moneyCoins}}</span>
					</div>
				</div>
				<div class="avatar">
					<div class="avatar-bordered">
						<div class="avatar-img">
							<img src="./img/avatar.jpg" alt="" class="avatar-pic">
						</div>
					</div>
					<span v-bind:class="{ 'avatar-on-line': userData.isOnLine}"></span>

					
				</div>
			</div>
			<div class="auth" v-else><a v-on:click.stop.prevent="authentication">Login</a></div>
		</div>
		<section class="main">
			<div class="content-left">
				<div class="content">
					<div class="top-back">
						<a href="#" class="top-back-link">
							<svg class="icon-svg-nav">
					          	<use xlink:href="solid.svg#chevron-left"></use>
					        </svg>
					    	Back
					    </a>
					</div>
					<div class="nav-page-block">
						<div class="page-prev">
							<a href="#" class="page-nav-link">
								<svg class="icon-svg-nav">
						          	<use xlink:href="solid.svg#chevron-left"></use>
						        </svg>See Previous
						    </a>
						</div>
						<div class="page-next">
							<a href="#" class="page-nav-link">
								See Next
								<svg class="icon-svg-nav">
					          		<use xlink:href="solid.svg#chevron-right"></use>
					        	</svg>
					        </a>
						</div>
					</div>
					<div class="news-preview">
						<div class="img-wrap">
							<img v-bind:src="currentPost._src" alt="" class="img-pic">
						</div>
						<a href="#" class="news-title">{{currentPost._title}}</a>
						<div class="news-date">{{currentPost._date}}</div>
						<div class="news-content"><p>{{currentPost._content}}</p></div>
					</div>
					<div class="news-footer">
						<ul class="news-stat">
							<li>
								<a class="_link" v-on:click.stop.prevent="handlerLike">
									<svg class="icon-svg">
						          		<use xlink:href="solid.svg#thumbs-up"></use>
						        	</svg>
						        	<span class="like-count">{{currentPost._like}}</span>
					       		</a>
							</li>
							<li>
								<a href="#" class="_link">
									<svg class="icon-svg">
						          		<use xlink:href="solid.svg#eye"></use>
						        	</svg>
						        	<span class="previews-count">{{currentPost._previews}}</span>
					       		</a>
							</li>							
							
						</ul>
						<ul class="news-social">
							<li>
								<a href="#" class="_link">
									<svg class="icon-svg">
						          		<use xlink:href="solid.svg#share-alt"></use>
						        	</svg>
					       		</a>
							</li>	
							<li>
								<a href="#" class="_link">
									<svg class="icon-svg">
						          		<use xlink:href="brands.svg#facebook-square"></use>
						        	</svg>
					       		</a>
							</li>	
							<li>
								<a href="#" class="_link">
									<svg class="icon-svg">
						          		<use xlink:href="brands.svg#twitter-square"></use>
						        	</svg>
					       		</a>
							</li>	
						</ul>
					</div>
				</div>
				<div class="comments tabBlock">
					<div class="comments-header">
						<div class="comments-info">
							 <span class="comments-icon"></span>
							Comments: <span class="comments-count">{{currentPost.comments.length}}</span>
						</div>
						<ul class="comments-tabs">
							<li class="comments-tabs-item active"><span class="comments-tab-link">Popular</span></li>
							<li class="comments-tabs-item"><span class="comments-tab-link">Recent</span></li>
						</ul>
					</div>
					 <div class="tabBlock-content">
					 	<div class="tabBlock-pane">
							<div class="comments-list-wrap">
								<div class="comments-search-group">
									<input type="text" v-model="search" class="comments-search" name="comments-search" placeholder="Type comment here.." >
									<a href="#">
										<svg class="icon-svg-nav">
						          			<use xlink:href="solid.svg#arrow-right"></use>
						        		</svg>
						        	</a>
								</div>
								<ul class="comments-list">
									<li class="comments-item" v-for="(item, index) in filterComment" v-bind:key="item.id">
										<div class="comments-foto">
											<img v-bind:src="item._authorSrc" alt="comments-foto">
										</div>
										<div class="comment">
											<div class="comments-author">{{item._authorName}}</div>
											<div class="comments-date">{{item._date}}</div>
											<div class="comments-text">{{item._comment}}</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					 	<div class="tabBlock-pane">
							<div class="comments-list-wrap">
								<div class="comments-search-group">
									<input type="text"class="comments-search" name="comments-search" placeholder="Type comment here.." >
									<a href="#">
										<svg class="icon-svg-nav">
						          			<use xlink:href="solid.svg#arrow-right"></use>
						        		</svg>
						        	</a>
								</div>
								<ul class="comments-list">
									<li class="comments-item">
										<div class="comments-foto">
											<img src="/img/comment-foto.jpg" alt="comments-foto">
										</div>
										<div class="comment">
											<div class="comments-author">Svetlakov</div>
											<div class="comments-date">22 May</div>
											<div class="comments-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</div>
										</div>
									</li>
									<li class="comments-item">
										<div class="comments-foto">
											<img src="/img/comment-foto.jpg" alt="comments-foto">
										</div>
										<div class="comment">
											<div class="comments-author">Svetlakov</div>
											<div class="comments-date">22 May</div>
											<div class="comments-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500.</div>
										</div>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="content-right">
				<div class="related">
					<div class="related-title">Related News</div>
					<ul class="related-list">
						<li class="related-item" v-for="(item, index) in postsRelated" v-bind:key="item.id">
							<div class="related-news-wrap">
								<div class="img-wrap">
									<img v-bind:src="item._src" alt="" class="img-pic">
								</div>
								<div class="news-overlay-bottom">
									<a href="#"  class="news-title">{{item._title}}</a>
									<div class="news-content">
										<p>{{item._content}}</p>
									</div>
								</div>
								
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>

	</div>
		<script src="js/jquery.min.js"></script>

	<script src="js/scripts.min.js"></script>
</body>
</html>
